.about{
    font-family: "Roboto Light", sans-serif;
    padding: 2vw;
    background:url("https://112.be/themes/custom/be112/images/pattern-112.svg");
    background-size:10vw;
    height: 45dvw;
    color: #fff;
    line-height: 2.5dvw;
    font-size: 1.8vw;
    text-align: justify;
}

@media (max-width:750px) {
    .about{
        font-size: 3vw;
        line-height: 4dvw;
    }
}